footer{
    border-top: 2px solid rgba($brown,.1);
    width: 100vw;
    padding: 2vw 0 0 0;
    background: $black;
    .footer-container{

        display: flex;
        width: 80vw;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($brown,.1);
        padding-bottom: 20px;

        @include miniLaptop{
            width: 90vw;
        }

        @include tablet{
            width: 80vw;
        }

        @include phone{
            width: 90vw;
        }

        @include phone{
            padding-top: 5vw;
        }

        .left-side{
            color: $red;
            min-width: 200px;

            @include tablet{
                min-width: fit-content;
            }

            p{
                font-size: .9rem;

                @include tablet{
                    font-size: .85rem;
                }
            
                &:first-of-type{
                    font-weight: 600;
                }
            }

            a img{
                width: 80px;

                @include tablet{
                    width: 60px;
                }
            }
        }

        .footer-quote{
            color: $brown;
            text-align: center;
            font-weight: 700;
            font-size: 3rem;

            @include mini{
                font-size: 2rem;
            }

            @include tablet{
                display: none;
            }

            /* @include tablet{
                display: none;
            } */

            span{
                color: $red;
            }
        }

        .footer-links{
            display: flex;
            flex-direction: column;
            list-style: none;
            min-width: 200px;

            @include tablet{
                min-width: fit-content;
            }

            li{
                margin: 5px 0;

                @include phone{
                    margin: 0;
                }

                a{
                    text-decoration: none;
                    color: $brown;
                    font-size: .9rem;
                    transition: all 300ms ease;

                    @include phone{
                        font-size: .85rem;
                    }

                    &:hover{
                        color: $red;
                        transition: all 300ms ease;
                    }
                }
            }
        }
    }

    .footer-second-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0 0px 0;

        i{
            margin: 0 10px;
            font-size: 1.5rem;
            color: rgba($brown,.8);
            transition: all 300ms ease;

            &:hover{
                color: $red;
                transition: all 300ms ease;
            }
        }

        .copyright{
            margin-top: 20px;
            width: 100vw;
            background: rgba($brown,.1);
            text-align: center;
            padding: 13px 0;
            color: rgba($brown,.5);
            font-size: .9rem;

            p:last-of-type{
                margin-top: 5px;
            }

            a{
                text-decoration: none;
                color: rgba($brown,.2);
            }

            @include phone{
                font-size: .85rem;
            }
        }
    }

    & >         .footer-quote{
        color: $brown;
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        display: none;

        @include mini{
            font-size: 2rem;
        }

        @include tablet{
            display: block;
            font-size: 3rem;
        }

        @include phone{
            font-size: 2rem;
            margin-top: 20px;
        }

        /* @include tablet{
            display: none;
        } */

        span{
            color: $red;
        }
    }
}